@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: hsl(217, 19%, 24%);
}

.card-container {
  min-width: 350px;
  height: 300px;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: hsl(219, 23%, 33%);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-container .underscore {
  position: relative;
  width: 100%;
}

.card-container_content {
  text-align: center;
}

.card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 320%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(150, 100%, 66%);
}

.card-button > img {
  position: relative;
  width: 60%;
}

.card-container_content {
  color: white;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Manrope', sans-serif;
}


.card-container_header{
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    font-family: monospace;
}


@media screen and (max-width:520px){

    .card-container_content{
        font-size: 22px;
    }
    
}